#include "lib.polib"

POLICY main {
  USE basic_allow,
  ALLOW {
    execve, dup3, fcntl, getcwd, rt_sigaction, getgid, getegid, geteuid, getuid, dup
  }
}

USE main DEFAULT KILL
